@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,700&family=Inter:wght@100;700;800&family=Mukta:wght@200;300;400;500&family=Open+Sans:ital@1&family=Poppins:wght@100;200;300;400;500;600&family=Rubik:wght@300;400;500&family=Ubuntu:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #85818a;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

:root {
    --primary-color: #214ade;
    --text-color: #e7e7e5;
    --sub-text-color: #c2c2c2;

}


.dark {
    --text-color: #c9c8c8;
    --sub-text-color: #cfcfcf;
    transition: 0.3s;

}

.hero {
    display: flex;
    width: 100%;
    /* height: calc(100vh - 107.2px); */
    height: 100vh;
    background: linear-gradient(135deg, #000000, rgba(13, 42, 91, 0.951));
    backdrop-filter: blur(10px);
    z-index: 1;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}


/* =========================================Navbar============================== */
.nav {
    position: fixed;
    margin: auto;
    width: 100%;
    background-color: transparent;
    display: flex;
   
    height: 6em;
    top: 0;
    z-index: 999;
   
}
.nav-content{

    width: 85%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
}


.links {
    display: flex;
    align-items: center;
    gap: 4em;
}

.codebell {
    font-weight: 800;
    font-size: 1.5em;
    color: #1585daf6;
}

.links a {
    font-weight: 700;
    color: #ffffff;
    white-space: nowrap;
    transition: 0.5s;
}
.links a:hover{
    transform: translateY(-5px);
}

.get-the-app {
    font-weight: 700;
    padding: 0.7em 1.5em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    background-color: #fff;
    color: #000000;
    border: 0.5px solid #ffff;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.5s;
}
.get-the-app:hover{
    transform: translateY(-5px);
}
.hero-section {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    align-items: flex-start;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 4em;
}

.left h1 {
    font-weight: 900;
    font-size: 4em;
    color: var(--text-color);

}

.left h4 {

    font-weight: 700;
    font-size: 1.2em;
    color: var(--sub-text-color);
    width: 80%;
}

.two-button {
    display: flex;
    width: 100%;
    gap: 1.5em;
}

.button1 {
    padding: 0.9em 2em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: #ffff;
    border: 0.5px solid #ffff;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 700;
    transition:  0.5s;
}

.button2 {
    padding: 0.9em 2em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    background-color: #fff;
    color: #000000;
    border: 0.5px solid #ffff;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 700;
    transition:  0.5s;
}
.button1:hover, .button2:hover {
    transform: scale(1.09); /* Increase size on hover */
    box-shadow: 0 5px 50px rgba(16, 138, 200, 0.1); /* Add a subtle shadow on hover */
  }

  
.right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right img {

    width: 70%;
    animation: moveUpAndDown 4s ease-in-out infinite; /* Adjust the animation duration and easing as needed */
}

/* Define the animation */
@keyframes moveUpAndDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px); /* Adjust the distance you want the image to move */
    }
  }
  


/* CSS for the changing text animation */
@keyframes changeText {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
    10% {
        opacity: 1;
        transform: translateX(0);
    }
    90% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(10px);
    }
}

#changing-text {
    display: inline-block;
    color: #1585daf6;
    animation: changeText 5s infinite;
}


/* menu-hide-top-right */
.menu-popup {
   
    display: none;
    position: absolute;
    top: 3.5em;
    right: 10%;
    background: linear-gradient(135deg, #000000, #192437);
    backdrop-filter: blur(10px);
    align-items: center;
    border: 1px solid #ccc;
    padding: 1em;
    gap: 1em;
    margin: auto;
    border-radius: 1em;
    z-index: 1000;
    display: flex;
    flex-direction: column;
   
}

.menu-popup a {
    color: var(--text-color);
}

.menu-popup .get-the-app {
    padding: 0.5em;
    border-radius: 0.5em;
}


.menu-toolbar-mobile {
    color: var(--text-color);
    display: none;
    cursor: pointer;
    transition: all ease 1s;

}



/*=========================================== all section parent ========================= */
.main-content {
    margin-top: 4em;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #161712;
    gap: 4em;
}


/*=============================================== section  1 ====================================== */
.section1 {

    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin-top: 4em;
}

.section-h1 {
    width: 70%;
    font-size: 3.5em;
    text-align: center;
    color: var(--text-color);
}

.section-h2 {
    font-weight: 100;
    width: 50%;
    font-size: 1.5em;
    text-align: center;
    color: var(--sub-text-color);
}

.section1-card {
    width: 100%;
    margin: auto;
}

.section1-card img {
  
    width: 100%;
    height: 55vh;
}

.section1-card .cards {
    width: 100%;
    display: flex;
    padding: 4em;
    width: calc(100% - 8em);
    background-color: #1b1b1b;
}

.card-details {
    width: 100%;
    padding: 2em;
    width: calc(100% - 4em);
    display: flex;
    flex-direction: column;
    gap: 2em;
    color: var(--text-color);

}

.heading-1 {
    font-size: 1.9em;
    font-weight: 700;
    color: var(--text-color);
    margin: auto;
}

.heading-2 {

    color: var(--sub-text-color);
    font-size: 1.2em;
    font-weight: 500;
    margin: auto;
}

.box-elem {
    width: 100%;
    display: flex;
    margin-top: 2em;
    border: 1px solid rgb(40, 136, 174);
    align-items: center;
    color: var(--text-color);
    justify-content: center;
    background-color: #0f2230;
    gap: 1em;
    padding: 0.1em;
    width: calc(100% - 0.2em);
}

.box-text {
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 900;
    font-size: 0.8em;
}

/* Define the animation class */
@keyframes slideInFromTop {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Initially hide the card */
.card-details {
    opacity: 0;
}

/* Apply the animation class to the card */
.card-details.animate {
    animation: slideInFromTop 0.5s ease-in-out;
    opacity: 1;
}

/* ===========================section2================== */

.section2 {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    gap: 2em;
}

.card-list-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #0c1a27, #232323);
    backdrop-filter: blur(10px);
    padding: 4em;
    gap: 2em;
    width: calc(100% - 8em);
}

.head-elem,
.bottom-elem {

    align-self: flex-start;
}

.cards-list-right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5em;
}

.cards-list-left {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 5em;
}

.cards-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: flex-start;
    justify-content: flex-start;
}

.cards-list-right img, .cards-list-left img {
    width: 40%;
    margin-top: -4em;

}


.bottom-elem {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: flex-start;
}
.text1 {
    font-weight: 900;
    font-size: 2.5em;
    color: var(--text-color);
    margin-bottom: 0.4em;

}

.head-elem {
    width: 100% auto;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid rgb(40, 136, 174);
    align-items: center;
    color: var(--text-color);
    background-color: rgba(19, 65, 128, 0.5);
    gap: 1em;
    padding: 0.3em 1.2em;
    margin-bottom: 2.7em;
}

.box-text {
    letter-spacing: 1px;
}

.text2 {
    font-size: 1.3em;
    color: var(--sub-text-color);
    line-height: 1.5em;
}

/* =============================================section3========================================== */
.section3 {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--text-color);
    gap: 2em;

}

.section3 h1 {
    width: 80%;
}

.section3-card {
    display: flex;
    gap: 1em;
    width: 100%;
}

.section3-card-content {
    width: 100%;
    padding: 4em;
    width: calc(100% - 4em);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5em;
}

.text-head {

    font-weight: 600;
    font-size: 1.5em;
}

.text-2 {
    font-size: 1em;
    font-weight: 600;
    color: var(--sub-text-color);
}

/*================================== section4======================== */

.section4 {
    width: 80%;
    margin: auto;
    background: linear-gradient(24deg, #133555 , #150f08 );
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.section4 .head-elem {
    margin-bottom: 0;

}

.left-part {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;

}

.section4 img {

    width: 60%;
 
    height: 80%;

}

.section4 h1,
.section4 h2 {
    color: var(--text-color);
}

.section4 h1 {
    font-size: 3em;
}

.section4 h2 {
    font-size: 4em;
}

.left-part h2 span {
    font-size: 0.5em;

}

.left-part h4 {
    font-size: 2em;
    color: #ffff;
}

.left-part h4 span {
    color: var(--sub-text-color);
}

/* ===============================section5================== */

.section5 {
    padding: 2em;
    width: calc(65% - 4em);
    margin: auto;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #222222, #131313);
    backdrop-filter: blur(10px);
    gap: 2em;
    color:var(--text-color);
}

.card-wrap {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.section5-card {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.section5-card-content {
    display: flex;
    align-items: center;
    gap: 1em;
    color: rgb(255, 255, 255, 0.5);
    font-size: 1.5em;
    font-weight: 600;
}

/*=================================section6===================================== */
.section6 {
    padding: 2em;
    width: calc(90% - 4em);
    margin: auto;
    display: flex;
    flex-direction: column;
    background: linear-gradient(320deg, #193149, #150f08);
    backdrop-filter: blur(10px);
    gap: 2em;
    color: var(--text-color);
    align-items: center;
    justify-content: center;
}

.section6-card-container {
    display: flex;
    justify-content: space-between;
}

.step-number {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-number .no {
    font-size: 2em;
}

.line {
    height: 1px;
    background-color: #d2d6d7;
    flex-grow: 1;
}

.section6-cards img {
    width: 60%;
    margin: auto;
    height: 80%;
}

.section6-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    gap: 1em;
}

.section6-cards .heads-text1 {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--text-color);
    width: 60%;
    margin: auto;
}

.section6-cards .heads-text2 {
    font-size: 1.2em;
    font-weight: 600;
    color: #c1baba;
    width: 60%;
    line-height: 1.5;
    margin: auto;
}

/*================================== section7============================ */

.section7 {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    gap: 2em;
}

.section7 .button2 {
    font-size: 1.5em;
}



.section8 {
    padding: 2em;
    width: calc(90% - 4em);
    margin: auto;
    display: flex;
    align-items: center;
    color: var(--text-color);
    background: linear-gradient(0deg, #193149, #150f08);
    backdrop-filter: blur(10px);
}

.section8 .section8-left {

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;


}

.section8-left .heads-text1 {
    font-size: 2em;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: 900;

}

.section8-left .heads-text2 {
    font-size: 1.5em;
    align-items: center;
    color: #c2c5c8f6;

}

.section8-right {
    width: 50%;
    margin: auto;
    display: flex;
}

.section8-right img {
    width: 50%;
}

/* ====================footer================= */


.footer {
    width: 90%;
    margin: auto;
    margin-bottom: 8em;
    display: flex;
    justify-content: space-between;
}

.links-text a {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 600;
}

.footer-right,
.footer-left {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.footer-h1 {
    color: #ffffff;
}

.links-text {
    display: flex;
    gap: 4em;
}

.links-icons {
    display: flex;
    color: #ffffff;
    justify-content: end;
    gap: 1em;
}


/* Hide links in mobile view when screen width is less than 1200px */

@media (max-width: 1525px) {
    .section1 .cards {

        padding: 1em;
        width: calc(100% - 2em);
    }

    .section1-card img {
        width: 100%;
        height: 30vh;
    }


}

@media (max-width: 1200px) {
    .nav{
        height: 5em;
    }
    .links {
        display: none;
    }

    .section1-card img {
        width: 100%;
        height: 25vh;
    }

    .menu-toolbar-mobile {
        display: flex;
    }

    .section3-card .section3-card-content {
        padding: 1em;
        width: calc(100% - 2em);

    }

    .card-details {
        align-items: center;
    }

    .section4 {
        flex-direction: column;
    }

    .section1 .cards {
        flex-direction: column;
    }

    .text1 {
        font-size: 1.5em;
    }

    .text2 {
        font-size: 1em;
    }

    .cards-list-left,
    .cards-list-right {
        gap: 2em;
    }


}


@media screen and (max-width: 768px) {

    .hero-section {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 4em;
        align-items: center;
    }

    .left {
        width: 100%;
        align-items: center;
    }

    .left h1 {
        font-size: 3em;
        text-align: center;
    }

    .left h4 {
        text-align: center;
    }

    .right {
        width: 100%;
    }

    .two-button {
        justify-content: center;
        align-items: center;
    }

    .section1-card img {
        width: 100%;
        height: 20vh;
    }

    .section1 {
        width: 90%;
        margin: auto;
        margin-top: 4em;
    }

    .section2 {
        width: 90%;
        margin: auto;
    }

    .cards {
        flex-direction: column;
    }

    .head-elem {
        padding: 0em;
    }

    .left {
        gap: 1.5em;
        align-items: center;
    }

    .left h1 {
        font-size: 2.2em;
        text-align: center;
    }

    .left h4 {
        width: 100%;
        text-align: center;
    }

    .button1,
    .button2 {
        padding: 0.5em;
    }

    .cards-list-left,
    .cards-list-right {
        flex-direction: column;
        align-items: center;
    }
    .cards-list-right img, .cards-list-left img{
        margin-top: 0;
        width: 70%;
    }
    .card-details {
        align-items: center;
    }
    .section-h1,
    .section4 h1 {
        font-size: 2.1em;
        width: 100%;
    }

    .section-h2,
    .section4 h4 {
        font-size: 1.3em;
        width: 100%;
    }
    .section4 img{
        width: 80%;
    }

    .section1 .cards,
    .card-list-container {
        padding: 2em;
        width: calc(100% - 4em);
        gap: 2em;
    }

    .card-details {
        width: 100%;
        padding: 0;
        gap: 1em;
    }

    .bottom-elem {
        width: 100%;
    }

    .box-elem {
        margin-top: 1em;
    }

    .heading-1,
    .text1 {
        width: 100%;
        font-size: 1.8em;

    }

    .heading-2,
    .text2 {
        width: 100%;
        font-size: 1em;
    }

    .card-list-container {
        gap: 3em;
    }

    .cards-list-right,
    .cards-list-left {
        gap: 2em;
    }


    .cards-detail {
        text-align: center;
        gap: 1em;
    }

    .cards-detail .head-elem {
        width: 100%;
        margin-bottom: 1em;

    }
    .section3-card {
        flex-direction: column;
    }
    .section3-card-content {
        padding: 1em;
        width: calc(100% - 2em);
        align-items: center;
        text-align: center;
    }

    .section4 {
        flex-direction: column;
        gap: 2em;
        text-align: center;

    }

    .section4 .head-elem {
        font-size: 0.6em;
        flex-wrap: nowrap;
        width: 100%;
    }
    .section5 {
        width: calc(80% - 4em);
        text-align: center;
    }
    .card-wrap {
        gap: 1em;
    }
    .section5-card {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        gap: 2em;
        justify-content: center;
        font-size: 0.8em;
        margin: auto;
    }

    .section6 {
        text-align: center;
    }

    .section6 h2 {
        font-size: 1.2em;
    }

    .step-number .no {
        font-size: 1.2em;
    }

    .section6-card-container {
        flex-direction: column;
        align-items: center;
    }

    .section7 .button2 {
        font-size: 1em;
    }

    .section8 {
        flex-direction: column;
        gap: 2em;
    }

    .section8-left .heads-text1 {
        font-size: 1.2em;


    }

    .section8-left .heads-text2 {
        font-size: 1em;

    }

    .section8-right {
        width: 100%;
        margin: auto;

    }

    .footer {
        flex-direction: column;
        gap: 2em;
        margin-bottom: 4em;

    }

    .footer-right {
        gap: 2em;
    }

    .links-text {
        gap: 1em;
        font-size: 0.7em;
    }

}


/* Define initial styles for section6-cards */
.section6-cards {
    opacity: 0;
    transform: translateY(-50px); /* Move up initially */
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .animate {
    opacity: 1;
    transform: translateY(0); /* Move to the original position */
  }
  